---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import PricingTeaser from '../../components/PricingTeaser.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
import { resolveLocale } from '../../lib/i18n';
import { getPageCopy } from '../../i18n/page-copy';

const locale = resolveLocale(Astro.currentLocale, new URL(Astro.request.url).pathname);
const copy = getPageCopy(locale);
---

<Layout title={copy.pricing.title}>
  <Header />
  <main>
    <PricingTeaser />
    <Contact />
  </main>
  <Footer />
</Layout>
